#TitleSign{
    position: fixed;
    margin-top: 0%;

    height:0%; 
    font-weight: normal; 

    justify-content: center; 
    align-items: center; 
    
    width: 100%; 
    display: flex; 
    top:75%;

    font-size: x-large;
}

#MenuButtonContainer {
    position: fixed; 
    top:75%; 
    left:6%; 
    height:0%;
    margin-top: 0%;
    margin-left: 0%;
    min-width: 35px; 

    aspect-ratio: 1/1; 
    justify-content: center; 
    align-items: center; 

    display: flex;
}

#MenuButton {
    position: absolute;
    max-width: 75%;
    width: auto;
}

#MenuDIV {
    background: none;
    position: absolute;

    z-index: 1;

    top: 0%; 
    left: 0%; 
    width: 100%; 
    height: 100%;
    
    aspect-ratio: 1/1; 
}

#MenuButton:active + #MenuDIV{
    background: rgba(0, 0, 0, 0.3);
}
