#WelcomeSign {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 40%;

    line-height: 40vh;
    position: fixed;
    margin-top: 0%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: lightgrey;
}
