#MenuUI {
    position: fixed;
    top: 12%;
    width: 100%;
    height: 88%;

    border: none;

    z-index: 0;

    overflow-x: hidden;
}

#Content_List {
    position:absolute;
    top:10%;
    left: 0%;
    width:100%;
    height: 80%;

    border: none;
    z-index: inherit;

    overflow-y: auto;
    overflow-x: hidden;
}

.Content_DIV {
    display: flex;
    flex-flow: column;

    width: 100%;
    height: 10.5%;
}

.Content_Button {
    display: flex;

    width: 100%;
    height: 100%;

    padding-left: 6%;

    justify-content:left;
    align-items:center;

    background: none;

    font-family: "Montserrat-Regular";
    font-size: large;
    color: black;

    text-decoration: none;
}

.Content_Button:hover {
    background: rgba(0, 0, 0, 0.1);
}
